html {
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.main-content {
    height: 100%;
    width: 90%;
}

.main-header{
    padding-bottom: 5rem;
}

.generated-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}